.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__item {
  color: #afb1b8;
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: $typical-transition;
  flex-basis: calc((100% - 150px) / 6);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.clients__item + .clients__item {
  margin-left: $typical-margine;
}

.clients__link {
  @include flex-centre();
  height: 92px;
  width: 100%;
}
