.team {
  background-color: var(--secondary-background-color);
}

.team__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-main-color);

  margin-bottom: 50px;
}

.team__cards {
  display: flex;
  justify-content: space-between;
}

.member-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--secondary-main-color);

  flex-basis: calc((100% - 90px) / 4);
}

.member-card + .member-card {
  margin-left: var(--typical-margine);
}

.member-card__text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-main-color);
}

.member-card__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
}

.communities {
  display: flex;
  justify-content: space-between;
  height: 44px;
  width: 206px;

  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.communities__item {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #afb1b8;
  transition: var(--typical-transition);

  display: flex;
  justify-content: center;
  align-items: center;
}

.communities__item + .communities__item {
  margin-left: 10px;
}

.communities__icon {
  display: block;
  fill: currentColor;
}

.communities__item:hover,
.communities__item:focus {
  color: var(--secondary-main-color);
  background-color: var(--accent-color);
}
